<% include partials/header %>

<div class="container container-fluid">
  <h4>View Profile</h4>
  <h5>Details</h5>
  <div class="container container-fluid">
    <ul>
      <li>Email: <%= data.user.email %></li>
      <li>Alias: <%= data.user.alias %></li>
      <li>Classifications: <%= data.user.classificationCount %></li>
    </ul>
  </div>

  <h5>Classifications</h5>
  <% if (data.observations.length > 0) { %>
  <a href="/user/profile/export/<%= data.user.id %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-table" aria-hidden="true"></i> Export to csv</a>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
        <th scope="col">Rating</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% data.observations.forEach( (row) => { %>
          <tr>
            <th scope="row"><%= row.postId %></th>
            <td><%= row.shorttext %></td>
            <td><%= row.rating %></td>
            <td>
              <a href="/observation/details/<%= row.postId %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a href="/observation/evaluate/<%= row.postId %>" class="btn btn-outline-primary btn-sm disabled"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
          </tr>
        <% }) %>
    </tbody>
  </table>
  <% } else { %>
    <h5>User hasn't evaluated any samples yet!</h5>
  <% } %>

</div>

<% include partials/footer %>
