<% include partials/header %>

<div class="container container-fluid">
  <h4>View Profile</h4>
  <h5>Details</h5>
  <div class="container container-fluid">
    <ul>
      <li>Email: <%= data.user.email %></li>
      <li>Alias: <%= data.user.alias %></li>
      <li>Classifications: <%= data.user.classificationCount %></li>
    </ul>
  </div>

  <h5>Classifications</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% data.observations.forEach( (row) => { %>
          <tr>
            <th scope="row"><%= row.postId %></th>
            <td><%= row.shorttext %></td>
            <td><%= row.rating %></td>
          </tr>
        <% }) %>
    </tbody>
  </table>


</div>

<% include partials/footer %>
