<% include ../partials/header %>

<div class="container">
  <div class="container row">
    <% if (data.info)  { %>
    <h5>Details</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th role="row">Full Text</th>
            <td><%= data.info.content_text %></td>
          </tr>
          <tr>
            <th role="row">URL</th>
            <td>
              <a href="<%= data.info.permalink %>"><%= data.info.permalink %></a>
            </td>
          </tr>
          <tr>
            <th role="row">Post Type</th>
            <td><%= data.info.submission_type %></td>
          </tr>
          <tr>
            <th role="row">Average Rating</th>
            <td><%= data.info.averageRating %></td>
          </tr>
        </tbody>
      </table>
      <% } %>
  </div>

  <div class="container row">
    <h5>History</h5>
    <% if (data.evaluations.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rater</th>
            <th scope="col">Notes</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% data.evaluations.forEach( (row) => { %>
              <tr>
                <th scope="row"><%= row.rater %></th>
                <td><% if (row.notes == '') { %>-<% } else { %> <%= row.notes %> <% } %></td>
                <td><%= row.rating %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% } else { %>
            <h5>Sample has not been evaluated yet!</h5>
            <% } %>
  </div>
</div>

<% include ../partials/footer %>
