<% include ../partials/header %>

<div class="container">
  <h5>History</h5>
  <% if (data.length > 0) { %>
  <button type="button" name="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-table" aria-hidden="true"></i> Export to csv</button>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Content</th>
        <th scope="col">Rating</th>
        <th scope="col">Rater</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach( (row) => { %>
        <tr>
          <th scope="row"><%= row.postId %></th>
          <td><%= row.shorttext %></td>
          <td><%= row.rating %></td>
          <td><a href="/user/profile/<%= row.user_id %>"><%= row.user_alias %></a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else  { %>
    <h5>No samples have been evaluated yet!</h5>
  <% } %>
</div>

<% include ../partials/footer %>
