<% include ../partials/header %>

<div class="container">
  <h5>History</h5>
  <% if (data.length > 0) { %>
  <a href="/observation/history/export/csv" class="btn btn-outline-primary btn-sm"><i class="fa fa-table" aria-hidden="true"></i> Export to csv</a>
  <a href="/observation/history/export/json" class="btn btn-outline-primary btn-sm"><i class="fa fa-file-code-o" aria-hidden="true"></i> Export to json</a>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th class="w-5" scope="col">ID</th>
        <th class="w-50" scope="col">Content</th>
        <th class="w-15" scope="col">Rating</th>
        <th class="w-15" scope="col">Rater</th>
        <th class="w-15" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach( (row) => { %>
        <tr>
          <th scope="row"><%= row.id %></th>
          <td title="<%= row.document %>"><%= row.shorttext %></td>
          <td><%= row.severity %></td>
          <td><a href="/user/profile/<%= row.user_id %>"><%= row.user_alias %></a></td>
          <td>
            <a title="View Details" href="/observation/details/<%= row.id %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a title="Evaluate" href="/observation/v1/annotate/<%= row.id %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><sub>1</sub></a>
            <a title="Evaluate" href="/observation/v2/annotate/<%= row.id %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><sub>2</sub></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else  { %>
    <h5>No samples have been evaluated yet!</h5>
  <% } %>
</div>

<% include ../partials/footer %>
