<% include ../partials/header %>

<div class="container">
  <h5>Sample List</h5>
  <% if (data.length > 0) { %>
  <a href="/observation/list/export/" class="btn btn-outline-primary btn-sm"><i class="fa fa-table" aria-hidden="true"></i> Export to csv</a>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th class="w-5" scope="col">ID</th>
        <th class="w-50" scope="col">Content</th>
        <th class="w-30" scope="col">Rating</th>
        <th class="w-15" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach( (row) => { %>
        <tr>
          <th scope="row"><%= row.postId %></th>
          <td title="<%= row.txt %>"><%= row.shorttext %></td>
          <td><%= row.avgRating %></td>
          <td>
            <a title="View Details" href="/observation/details/<%= row.postId %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a title="Evaluate" href="/observation/v1/annotate/<%= row.postId %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><sub>1</sub></a>
            <a title="Evaluate" href="/observation/v2/annotate/<%= row.postId %>" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i><sub>2</sub></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else  { %>
    <h5>No samples were found!</h5>
  <% } %>
</div>

<% include ../partials/footer %>
